{% extends 'main/layout.html' %}

{% block title %}
    Test pr
{% endblock %}

{% block content %}
    <div class="guda">
        <p><h1>Форма для добавления статьи</h1></p>
        <form method="post">
            {% csrf_token %}
            {{ form.titl }}<br>
            {{ form.anonse }}<br>
            {{ form.full_txt }}<br>
            {{ form.date_time }}<br>
            <span>{{ err }}</span>
            <button class="btn btn-primary" type="submit">Отправить на проверку</button>
        </form>
    </div>
{% endblock %}